<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body class="home">
    <script>
      if ('loading' in HTMLImageElement.prototype) {
        const images = document.querySelectorAll('img[loading="lazy"]');
        images.forEach(img => {
          img.src = img.dataset.src;
        });
      } else {
        // Dynamically import the LazySizes library
        const script = document.createElement('script');
        script.src =
          'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js';
        document.body.appendChild(script);
      }
    </script>
    {{ partial "header.html" . }}

    <main role="main">
      {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}

  </body>
</html>
