<footer role="contentinfo">
  <a href="#">Back to top</a>
  <a href="mailto:iam@javiersanchez.net?subject=Hey%20there%20Javier%20👋&amp;body=👉%20You%20can%20write%20anything%20you%20want%20to%20say%20here.">Email</a>
  <a href="{{ .RSSLink }}">RSS</a>
  <br>
  <a href="https://git.coop/javi/microblog/">Source code</a>
  <a href="https://www.javiersanchez.net/policy/">Policy</a>
  <br>
  &copy; 2011–<script>document.write( new Date().getFullYear() );</script>
  <br><br>
  <a href="https://xn--sr8hvo.ws/%F0%9F%98%8E%F0%9F%95%91%F0%9F%9A%85/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%98%8E%F0%9F%95%91%F0%9F%9A%85/next">→</a>
</footer>