<footer class="footer {{ if eq .Type "post" }}footer--single{{ end }}" role="contentinfo">
  <small class="copyright">&copy; {{ .Date.Format "2006" }} <a href="/">{{ .Site.Author.name }}</a>. {{ .Site.Params.description | safeHTML }}</small>
  <small style="display: block;margin-top: 20px;margin-bottom: 20px;"><a href="https://ind.ie/ethical-design" target="_blank"><img style="margin-left: auto; margin-right: auto;" alt="We practice Ethical Design" src="https://img.shields.io/badge/Ethical_Design-_▲_❤_-blue.svg"></a></small>
</footer>
