<header role="banner">
    <nav role="navigation">
        <h1><a href="https://www.javiersanchez.net" class="logo">Javier Sánchez</a></h1>
        <ul>
            <li><a href="/about/" title="Visit my About me page">About</a></li>
            <li><a href="/photos/" title="Visit my Photos section">Photos</a></li>
            <li><a href="/writing/" title="Visit my Writing section">Writing</a></li>
            <li><a href="/archive/" title="Visit the Archive section">Archive</a></li>
        </ul>
    </nav>
</header>
