{{ define "main" }}
    <header>
        <h1>Archive</h1>
        <p>Collection of all my posts on Microblog and also a list useful categories.</p>
    </header>

	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
    {{ if gt (len $list) 0 }}
    <header>
        <h2>Categories</h2>
    </header>
		<div class="archive_categories">
            <ul>
                {{ range $list }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
		</div>
    {{ end }}
    
    <header>
        <h2>Posts</h2>
    </header>
	
	{{ $list := (where .Site.Pages "Type" "post") }}
	{{ range $list }}

		<p class="h-entry">
			<a href="{{ .Permalink }}" class="u-url post-time"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</span></a> 
			<span class="p-name"><b><a href="{{ .Permalink }}">{{ .Title }}</a></b></span> 
			<span class="p-summary"><a href="{{ .Permalink }}">{{ .Summary | truncate 100 }}</a></span>
		</p>

	{{ end }}

{{ end }}