{{ define "main" }}

    <p><img src="https://javiersanchez.net/assets/img/profile.png" alt="Javier Sánchez" title="Profile picture of Javier Sánchez" class="profile" /></p>

    <p>I’m an immigrant in London with a love for good food, modern art galleries and filter coffee. Currently, working as technical solution architect at <a href="https://www.emark.com">Emark</a>.</p>

    <p>In my spare time, I like to read and write about circular economy, surveillance capitalism and human rights, I also <a href="https://www.javi.me.uk/categories/travels/">travel</a>, love to admire the grey-blue seascapes and the low light of the British coastline, cook and eat great food, learn about coffee and <a href="https://bandcamp.com/donpotat">listen to good music</a>.</p>

    <section class="limit">
        <h2>Elsewhere</h2>
        <ul class="home-list">
        <li><span>Email </span><a href="mailto:iam@javiersanchez.net?subject=Hey%20there%20Javier%20👋&amp;body=👉%20You%20can%20write%20anything%20you%20want%20to%20say%20here.">iam@javiersanchez.net</a></li>
        <li><span>Micro.blog </span><a href="https://micro.blog/jsanchez">@jsanchez</a></li>
        <li><span>GitLab </span><a href="https://git.coop/javi">git.coop/javi</a></li>
        <li><span>Twitter </span><a href="https://twitter.com/javidotpro">@javidotpro</a></li>
        <li><span>Mastodon </span><a href="https://mastodon.me.uk/@javi">@javi@mastodon.me.uk</a></li>
        </ul>
    </section>

{{ end }}